{% extends 'base.html' %}

{% block entete %}
      <!-- Example row of columns -->
      <div class="row">
        {# la cave #}
          <div class="col-md-4">
            <h2>Ma Cave</h2>
            <p>Dans cet environnement, vous trouverez des informations sur ma cave et les outils de gestion
            de cette cave. C'est encore en développement pour un bon moment, mais on progresse, c'est encourageant.</p>
            <p><a class="btn btn-default" href="{% url 'cave' %}" role="button">Voir details &raquo;</a></p>
          </div>

          {# le blog #}
          <div class="col-md-4">
            <h2>Blog</h2>
            <p>Dans cet environnent, vous trouverez un blog pour échanger sur l'oeunologie en général et le bon
            vin en particulier. N'hésitez pas à apporter votre grain de .... raisin!</p>
            <p><a class="btn btn-default" href="{% url 'blog' %}" role="button">Voir details &raquo;</a></p>
          </div>

          {# les informations #}
          <div class="col-md-4">
            <h2>Informations</h2>
            <p>Dans cet environnement, vous trouverez des informations générales sur les vins et ses dérivés.
            Là encore votre grain de ...raisin est requis, enfin si vous le voulez bien, évidemment!</p>
            <p><a class="btn btn-default" href="{% url 'informations' %}" role="button">Voir details &raquo;</a></p>
          </div>
      </div>
     <!-- fin de présentation générale -->
{% endblock %}
